html {
	height: 100%;
}

* {
   scrollbar-width: 18px;/*thin;*/
   scrollbar-color: skyblue #000066;
}

body {
	height: 100%;
	margin: 0;
	background-image: linear-gradient(to top left, rgb(196, 196, 196), #1a1919);
	color: white;
	font-family: 'Courier New', Courier, monospace;
	}
    
.name {
	color: #37FD56;
	font-size: 1.4rem;
	padding-right: 1rem;
    }
    
.container {
	font-family: 'Courier New', Courier, monospace;
    }
    
#inputContainer {
	padding-top: 3rem;
	width: 45%;
    }
    
.btn {
      margin-top: 2rem;
    }
    
h1 {
	font-size: 2.4rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.horizontalScroll {
	    overflow-y: hidden;
	    white-space: nowrap;
	    position: relative;
	    overflow-x: scroll;
    }

body::-webkit-scrollbar-thumb {
	background: #10be2a;
}
body::-webkit-scrollbar {
	color: #10be2a;
	/*?*/
}


.scrollImg {
	   width: 10%;
	   height: 10%;
	   margin-left: 2%;
	   margin-right: 2%;
	   display: inline-block;
	   border-radius: 10px;
	   border: 2px solid white;
	   box-shadow: 0 1px 7px 0 rgba(0,0,0,3);
    }    
        
@media only screen and (max-width: 940px) {
    
    
	#inputContainer {
	padding-top: 3rem;
	width: 85%;
	}
    
	@keyframes animated-text{
	    from{width: 0%;}
	    to{width: 100%;}
	  }
    
    }